<div class="logout-container">
    <div class="logout-wrapper">
        <div class="">
            <div class="logo">
                <img [src]="logo" class="logo d-none d-md-block cursor-pointer" 
                alt="Logo" />
            </div>
            <div class="logout-header">
                <h4>
                    You are logged out
                </h4>
            </div>
            <div class="col-12">
                <span class="content">A bit more to do</span>
                <div class="d-flex btns">
                    <button class="btn btn-primary btn-block sign-out-btn" (click)="login()">
                        <span>
                            Sign in Again
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
