
.logout-container {
    background-color: #FFFFFF;
}

.logo{
    text-align: -webkit-center;
}


.logout-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .logout-header {
        h4 {
            margin-bottom: 2rem;
            color:#72767B;
            font-weight: 600;
            font-size: 3.5rem;  
        }
    }
    .content {
        font-size: 1.5rem;
        font-weight: 400;
        color: #72767B;
    }
}

.btns {
    justify-content: right;
    margin-top: 1rem;
    flex-direction: column;

    .sign-out-btn {
        font-size: 1.3rem;
        background-color: #1A73E8;
        padding: 6px;
    }
}